<div class="container proj-lists">
    <div class="row align-center-wrap">
      <div class="col-xs-12">
        <div ng-show="userNotFound">
          <h2 class="no-user">No User Info Found</h2>
        </div>
        <div class="user-info" ng-show="loaded">
          <h2> {{userDetails.name}}
            <span class="smallname">(@<a href="{{userDetails.html_url}}" target="_blank"> {{userDetails.login}} </a>)</span>
            <span class="smallname color333">project's details</span>
          </h2>
          <div class="ghcontent">
            <div class="avi">
              <a href="{{ userDetails.html_url}}" target="_blank">
                <img src="{{ userDetails.avatar_url}}" width="80" height="80" alt="{{ userDetails.login}}"></a>
            </div>
            Followers: {{ userDetails.followers}} - Following: {{ userDetails.following}}<br>Repos: {{ userDetails.public_repos}}</p>
          </div>
          <div class="repolist clearfix">
            <p ng-if="!repos.length">No repos!</p>
            <div ng-if="repos.length">
              <p><strong>Repos List:</strong></p>
              <ul class="projects-list">
                <!--/repos/:owner/:repo/contents/:path-->
                <li ng-repeat="repo in repos"><a href="/projects/{{userDetails.name}}/{{repo.name}}/readme/"> {{repo.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
